.example-spacer {
    display: flex;
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .constainer{
    max-width: 1200px;
    margin: 0 auto;
  }